.btn-container {
    background-color: #ffffff3d;
}

.list {
    scrollbar-color: #fff6 #00000026;
    scrollbar-width: auto;
    overflow-y: auto;
    overflow-x: auto;
}

.list::-webkit-scrollbar {
	width: 12px;
	width: 12px;
    background: transparent;
}

.list::-webkit-scrollbar-track-piece {
    background: #00000026;
}

.list:-webkit-scrollbar-track {
    display: none;
}

.list::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
}