.btn-container {
    background-color: #ffffff3d;
}

.list::-webkit-scrollbar {
	width: 15px;
	background-color: #dfe6e9;
}

.list::-webkit-scrollbar-track {
    border: 5px solid rgba(0, 0, 0, 0.253);
    background-image: linear-gradient(97.78deg, var(--ds-background-accent-purple-bolder, #4423a3) 17.5%, var(--ds-background-accent-magenta-subtle, #aa63cb) 113.39%);
}

.list::-webkit-scrollbar-thumb {
    background-image: linear-gradient(97.78deg, var(--ds-background-accent-purple-bolder, #4423a3) 17.5%, var(--ds-background-accent-magenta-subtle, #aa63cb) 113.39%);
	border-radius: 10px;
}