<!-- nav -->
<nav class="fixed top-0 z-50 w-full border-slate-200 dark:bg-gray-800 dark:border-gray-700 sidebar-container">
    <div class="flex flex-row h-16 justify-between">
        <div class="flex items-center md:border-r-[1px] border-gray-200 md:w-[250px]">
            <div class="flex-grow">
                <a routerLink="/dashboard/home">
                    <ng-icon name="ionHomeOutline" size="20" class="text-white mx-[12px] md:ml-3 h-full"></ng-icon>
                </a>
            </div>
            <div class="flex items-center border-x md:border-x-0 border-gray-400 h-full">
                <ng-icon name="ionSettingsOutline" size="20"
                    class="text-white mx-[12px] md:mx-0 h-full md:mr-3"></ng-icon>
            </div>
            <button (click)="toggleSidebarMobile()" *ngIf="dashboardService.isSmallScreen">
                <ng-icon name="ionReorderThreeOutline" size="20" class="text-white mx-[12px] md:hidden block"></ng-icon>
            </button>
        </div>
        <!-- avatar -->
        <a routerLink="/dashboard/profile">
            <div class="md:mr-3 md:mx-0 mx-[12px] h-full flex items-center">
                <ng-icon name="ionPersonCircleOutline" size="20" class="text-white mx-[12px] md:hidden block"></ng-icon>
            </div>
        </a>
    </div>
</nav>

<!-- side bar -->
<aside id="logo-sidebar"
    class="fixed top-0 left-0 z-40 md:w-[250px] pt-16 h-screen w-full transition-transform shadow-xl bg-white border-r border-gray-200"
    [ngClass]="{'translate-y-0' :dashboardService.isSidebarMobileOpen, '-translate-x-full': !dashboardService.isSidebarMobileOpen && dashboardService.isSmallScreen}"
    aria-label="Sidebar">
    <div class="h-full overflow-y-auto bg-white">
        <div class="flex h-full flex-col justify-between">
            <div>
                <a routerLink="/dashboard/home" routerLinkActive="active">
                    <div class="md:px-0 py-[12px] menu-container flex items-center">
                        <ng-icon name="ionHomeOutline" size="20" class="text-black mx-[12px] md:ml-3 h-full"></ng-icon>
                        <span>Boards</span>
                    </div>
                </a>
                <div class="md:px-0 py-[12px]">
                    <span class="font-bold mx-[12px]">Workspace views</span>
                </div>
                <a routerLink="/dashboard/calendar" routerLinkActive="active">
                    <div class="md:px-0 py-[12px] menu-container flex items-center ">
                        <ng-icon name="ionCalendarClearOutline" size="20"
                            class="text-black mx-[12px] md:ml-3 h-full"></ng-icon>
                        <span>Calendar</span>
                    </div>
                </a>
                <a routerLink="/dashboard/history" routerLinkActive="active">
                    <div class="md:px-0 py-[12px] menu-container flex items-center ">
                        <ng-icon name="ionReceiptOutline" size="20"
                            class="text-black mx-[12px] md:ml-3 h-full"></ng-icon>
                        <span>History</span>
                    </div>
                </a>
                <div class="md:px-0 py-[12px] flex justify-between">
                    <span class="font-bold mx-[12px]">Your boards</span>
                    <div #modalBoard>
                        <button (click)="openBoardModal()">
                            <ng-icon name="ionAddOutline" size="20"
                                class="text-black mx-[12px] md:mr-3 h-full"></ng-icon>
                        </button>
                    </div>
                </div>
                <!-- board list -->
                <div *ngFor="let board of boardLists">
                    <a [routerLink]="'/dashboard/board/' + board.background.id" routerLinkActive="active">
                        <div class="md:px-0 py-[12px] menu-container flex items-center">
                            <div class="board-img mx-[12px] md:ml-3"
                                [style.background-image]="'url(' + board.background.icon + ')'">
                            </div>
                            <span class="line-clamp-1">{{ board.title }}</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- button premium -->
            <div class="p-[12px] border-t-2 border-slate-200">
                <button class="w-full p-[6px] text-white flex items-center rounded"
                    style="background: linear-gradient(97.78deg, var(--ds-background-accent-purple-bolder, #4423a3) 17.5%, var(--ds-background-accent-magenta-subtle, #aa63cb) 113.39%);"
                    (click)="openPremiumModal()">
                    <ng-icon name="ionBagCheckOutline" size="20" class="text-white mx-[12px] md:hidden block"></ng-icon>
                    Try
                    Premium</button>
            </div>
        </div>
    </div>
</aside>

<!-- content -->
<div class="sm:ml-96 md:ml-[15rem]">
    <div class="h-screen w-full">
        <router-outlet></router-outlet>
    </div>
</div>