<ol id="{{listIndex}}" cdkDropList [cdkDropListData]="listItem.cards" (cdkDropListDropped)="drop($event)"
    cdkDropListOrientation="vertical" #childList="cdkDropList">
    <li class="flex flex-row mt-[10px]" *ngFor="let cardItem of listItem.cards;" cdkDrag [cdkDragData]="cardItem.title">
        <input
            class="font-bold bg-transparent px-[12px] py-[6px] w-full text-black outline-2 border-2 rounded-lg shadow-sm bg-white"
            placeholder="Enter card title..." type="text" [(ngModel)]="cardItem.title" />
    </li>
</ol>

<div class="flex items-center mt-[10px] flex-col" *ngIf="boardService.openCardIndex === listIndex">
    <textarea
        class="font-bold bg-transparent px-[12px] py-[6px] w-full text-black focus:outline-blue-600 outline-2 border-blue-600 border-2 rounded-lg h-[56px]"
        placeholder="Enter a title for this card..." type="text" [(ngModel)]="cardTitle"
        (click)="$event.stopPropagation()"></textarea>
    <div class="flex flex-row justify-start items-center w-full mt-[10px]">
        <button class="bg-blue-600 px-[12px] py-[6px] rounded-lg" (click)="handleCard()" *ngIf="listItem.title">
            Add card
        </button>
        <div (click)="handleCloseOverlayAndIcon($event)" class="flex">
            <ng-icon name="ionCloseOutline" size="24" class="text-black mx-[12px] md:ml-3 h-full"></ng-icon>
        </div>
    </div>
</div>
<div class="flex flex-row pb-4" *ngIf="boardService.openCardIndex !== listIndex">
    <ng-icon name="ionAddOutline" size="24" class="text-black md:mr-3"></ng-icon>
    <p class="font-bold text-black" (click)="handleAddCardOpen($event, listIndex)">Add a card</p>
</div>