<div class="p-[12px]">
    <!-- premium banner -->
    <div class="relative p-[6px]">
        <h2 class="text-center font-bold">Create board</h2>
        <button class="flex absolute top-0 right-0 z-1 p-[6px]" (click)="closeModal()">
            <ng-icon name="ionCloseOutline" size="20" class="text-black md:hidden block"></ng-icon>
        </button>
    </div>
    <!-- screen preview -->
    <div class="flex justify-center">
        <div class="rounded w-[200px] h-[120px] bg-cover bg-center flex items-center justify-center"
            style="background-image: url({{this.selectedBackground?.preview_url}});">
            <img src="../../../../assets/images/board/screen-mini.svg" alt="screen mini" />
        </div>
    </div>
    <!-- background picker -->
    <div>
        <div class="mt-[12px]">
            <label class="font-bold">Background</label>
        </div>
        <div>
            <!-- list photo -->
            <ul class="flex pb-[8px] justify-between">
                <li class="h-[40px] w-[64px] relative" *ngFor="let background of modalBackgroundPhotos">
                    <button style="background-image: url({{background.preview_url}});"
                        class="h-full w-full bg-cover bg-center rounded" (click)="selectBackground(background)">
                    </button>
                    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-1 backdrop-brightness-50 w-full h-full rounded flex items-center justify-center"
                        *ngIf="isSelected(background)">
                        <!-- icon check  -->
                        <ng-icon name="ionCheckmark" size="15" class="text-white w-full h-full "></ng-icon>
                    </div>
                </li>
            </ul>
            <!-- list color -->
            <ul class="flex pb-[8px] justify-between">
                <li class="h-[32px] w-[40px] relative" *ngFor="let background of modalBackgroundColors">
                    <button style="background-image: url({{background.preview_url}});"
                        class="h-full w-full bg-cover bg-center rounded"
                        (click)="selectBackground(background)"></button>
                    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-1 backdrop-brightness-50 w-full h-full rounded flex items-center justify-center"
                        *ngIf="isSelected(background)">
                        <!-- icon check  -->
                        <ng-icon name="ionCheckmark" size="15" class="text-white w-full h-full "></ng-icon>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- board title -->
    <form [formGroup]="boardForm" (ngSubmit)="handleCreateBoard()">
        <div>
            <label>Board title*</label>
            <input
                class="font-bold bg-transparent px-[12px] py-[6px] w-full text-black border-2 rounded-lg shadow-sm bg-white"
                placeholder="Enter card title..." type="text" formControlName="title"
                [style.outline]="boardForm.valid ? 'none':'2px solid red'" />
        </div>
        <span *ngIf="!boardForm.valid">Board title is required</span>
        <button class="bg-blue-600 text-white px-[12px] py-[6px] rounded w-full mt-[16px]" disabled type="submit"
            [disabled]="!boardForm.valid">Create</button>
    </form>
    <div>
        By using images from Unsplash, you agree to their license and Terms of Service
    </div>
</div>