<div class="p-[12px]">
    <!-- premium banner -->
    <div class="relative p-[6px]">
        <h2 class="text-center font-bold">Create board</h2>
        <button class="flex absolute top-0 right-0 z-1 p-[6px]" (click)="closeModal()">
            <ng-icon name="ionCloseOutline" size="20" class="text-black md:hidden block"></ng-icon>
        </button>
    </div>
    <!-- screen preview -->
    <div class="flex justify-center">
        <div class="rounded w-[200px] h-[120px] bg-cover bg-center flex items-center justify-center"
            style="background-image: url(assets/images/board/modal/photo/bg-asuka.png);">
            <img src="../../../../assets/images/board/screen-mini.svg" alt="screen mini" />
        </div>
    </div>
    <!-- background picker -->
    <div>
        <div class="mt-[12px]">
            <label class="font-bold">Background</label>
        </div>
        <div>
            <!-- list photo -->
            <ul class="flex pb-[8px] justify-between">
                <li class="h-[40px] w-[64px]">
                    <button style="background-image: url(assets/images/board/modal/photo/bg-asuka.png);"
                        class="h-full w-full bg-cover bg-center rounded"></button>
                </li>
                <li class="h-[40px] w-[64px]">
                    <button style="background-image: url(assets/images/board/modal/photo/bg-nike-anime-girl.png);"
                        class="h-full w-full bg-cover bg-center rounded"></button>
                </li>
                <li class="h-[40px] w-[64px]">
                    <button style="background-image: url(assets/images/board/modal/photo/bg-anime-girl-sit.png);"
                        class="h-full w-full bg-cover bg-center rounded"></button>
                </li>
                <li class="h-[40px] w-[64px]">
                    <button style="background-image: url(assets/images/board/modal/photo/bg-ram.png);"
                        class="h-full w-full bg-cover bg-center rounded"></button>
                </li>
            </ul>
            <!-- list color -->
            <ul class="flex pb-[8px] justify-between">
                <li class="h-[32px] w-[40px]">
                    <button style="background-image: url(assets/images/board/modal/color/bg-blue.svg);"
                        class="h-full w-full bg-cover bg-center rounded"></button>
                        
                </li>
                <li class="h-[32px] w-[40px]">
                    <button style="background-image: url(assets/images/board/modal/color/bg-orange.svg);"
                        class="h-full w-full bg-cover bg-center rounded"></button>
                </li>
                <li class="h-[32px] w-[40px]">
                    <button style="background-image: url(assets/images/board/modal/color/bg-purple.svg);"
                        class="h-full w-full bg-cover bg-center rounded"></button>
                </li>
                <li class="h-[32px] w-[40px]">
                    <button style="background-image: url(assets/images/board/modal/color/bg-pink.svg);"
                        class="h-full w-full bg-cover bg-center rounded"></button>
                </li>
                <li class="h-[32px] w-[40px]">
                    <button style="background-image: url(assets/images/board/modal/color/bg-brown.svg);"
                        class="h-full w-full bg-cover bg-center rounded"></button>
                </li>
                <li class="h-[32px] w-[40px]">
                    <button style="background-image: url(assets/images/board/modal/color/bg-green.svg);"
                        class="h-full w-full bg-cover bg-center rounded"></button>
                </li>
            </ul>
        </div>
    </div>
    <!-- board title -->
    <form>
        <div>
            <label>Board title*</label>
            <input
                class="font-bold bg-transparent px-[12px] py-[6px] w-full text-black outline-none border-2 rounded-lg shadow-sm bg-white"
                placeholder="Enter card title..." type="text" />
        </div>
        <span>Board title is required</span>
        <button class="bg-blue-600 text-white px-[12px] py-[6px] rounded w-full mt-[16px]" disabled
            type="submit">Create</button>
    </form>
    <div>
        By using images from Unsplash, you agree to their license and Terms of Service
    </div>
</div>