.active {
    display: block;
    background-color: rgba(#091E424F, 0.19);
}

.menu-container:hover {
    background-color: rgba(#091E4224, 0.08);
}

.board-img {
    width: 24px;
    height: 20px;
    border-radius: 2px;
    background-size: cover;
}