// reset css
::ng-deep * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

::ng-deep body {
    text-rendering: optimizeLegibility;
    font-family: "Noto Sans JP", sans-serif;
    height: 100%;
    width: 100%;
}