.login-container {
    background: linear-gradient(97.78deg, var(--ds-background-accent-purple-bolder, #4423a3) 17.5%, var(--ds-background-accent-magenta-subtle, #aa63cb) 113.39%);
    ;
    height: 100vh;
}

.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
    box-sizing: border-box;
}

.blur {
    background: rgb(0 0 0 / 20%);
    backdrop-filter: blur(6px);
    width: 100%;
}

.icon {
    width: 30px;
    height: 30px;
}

.wallet-container:hover {
    background: rgba(229, 232, 235, 0.1);
}