<div class="login-container flex items-center justify-center">
    <div class="md:w-2/5 md:h-auto">
        <div class="blur"></div>
        <div class="login-form flex flex-col rounded-lg md:w-2/5 w-4/5 md:h-auto ">
            <h1 class="font-bold md:text-xl text-center px-2 py-3 text-white">Connect your wallet</h1>
            <p class="text-center px-3 py-3 text-white text-sm lg:text-xl">If you don't have a wallet, you can select a provider and create
                one now.
                <span class="text-blue-500">Learn more</span>
            </p>
            <div class="border-t border-indigo-500 mx-4"></div>
            <div class="text-black flex justify-center py-[15px] wallet-container cursor-pointer">
                <button type="submit" class="text-center px-[40px] py-[5px] rounded-3xl flex gap-2 flex items-center ">
                    <img src="assets/images/login/metamask-fox.svg" alt="icon" class="icon">
                    <span class="font-bold text-white">MetaMask</span>
                </button>
            </div>
        </div>
    </div>
</div>